@model BanVeMayBay.Models.VeBan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VeBan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Sân bay
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site)
        </dd>
        <dt class = "col-sm-2">
            Giá vé
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaVe)
        </dd>
        <dt class = "col-sm-2">
            Thanh toán
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTienThanhToan)
        </dd>
        <dt class = "col-sm-2">
            Guid
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rowguid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaVe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
