
@{
    ViewData["Title"] = "Post11";
    Layout = "~/Views/Shared/_LayoutPost.cshtml";
}

<h1>Tin Tức</h1><br></br><br></br>
<div class="col-s-4 col-xl-8 main-content-info">
    <div class="article-content">



        <div class="show-pro">
        
           <div class="chitiettin"><h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>Vịnh Hạ Long là địa điểm du lịch nổi tiếng ở tỉnh Quảng Ninh Việt Nam. Và được các du khách trên toàn thế giới yêu thích, mong muốn đến ít nhất một lần trong đời.</strong></span></span></h2>

<div style="text-align:center">
<figure class="caption" style="display:inline-block"><img alt="Vinh-Ha-Long" height="436" src="https://thanhnienmoi.com/upload/images/Vinh-Ha-Long.jpg" title="Vinh-Ha-Long" width="640">
<figcaption>Vịnh Hạ Long nhìn từ đảo Titop</figcaption>
</figure>
</div>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>Vịnh Hạ Long</strong> được Unesco nhiều lần công nhận là di sản thiên nhiên của thế giới với hàng nghìn hòn đảo được làm nên bởi tạo hoá kỳ vĩ và sống động. Vịnh Hạ Long có phong cảnh tuyệt đẹp nên nơi đây là một điểm du lịch rất hấp dẫn với du khách trong nước và quốc tế.</span></span></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>Vịnh Hạ Long</strong> là một di sản độc đáo bởi địa danh này chứa đựng những dấu tích quan trọng trong quá trình hình thành và phát triển lịch sử trái đất, là cái nôi cư trú của người Việt cổ, đồng thời là tác phẩm nghệ thuật tạo hình vĩ đại của thiên nhiên với sự hiện diện của hàng nghìn đảo đá muôn hình vạn trạng, với nhiều hang động kỳ thú quần tụ thành một thế giới vừa sinh động vừa huyền bí. Bên cạnh đó, vịnh Hạ Long còn là nơi tập trung đa dạng sinh học cao với những hệ sinh thái điển hình cùng với hàng nghìn loài động thực vật vô cùng phong phú, đa dạng. Nơi đây còn gắn liền với những giá trị văn hóa – lịch sử hào hùng của dân tộc. Vịnh Hạ Long luôn là <strong><a href="http://thanhnienmoi.com/tour-trong-nuoc/">tour du lịch trong nước</a></strong> được yêu thích của người Việt Nam</span></span></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>Vịnh Hạ Long</strong> nổi bật với hệ thống đảo đá và hang động tuyệt đẹp. Đảo ở Hạ Long có hai dạng là đảo đá vôi và đảo phiến thạch, tập trung ở hai vùng chính là vùng phía đông nam vịnh Bái Tử Long và vùng phía tây nam vịnh Hạ Long. Đây là hình ảnh cổ xưa nhất của địa hình có tuổi kiến tạo địa chất từ 250 – 280 triệu năm, là kết quả của quá trình vận động nâng lên, hạ xuống nhiều lần từ lục địa thành trũng biển. Quá trình Carxto bào mòn, phong hoá gần như hoàn toàn tạo ra một Hạ Long độc nhất vô nhị trên thế giới.</span></span></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Hàng trăm đảo đá, mỗi đảo mang một hình dáng khác nhau hết sức sinh động: hòn Đầu Người, hòn Rồng, hòn Lã Vọng, hòn Cánh Buồm, hòn Trống Mái, hòn Lư Hương… Tiềm ẩn trong lòng các đảo đá ấy là những hang động tuyệt đẹp gắn với nhiều truyền thuyết thần kỳ như động Thiên Cung, hang Đầu Gỗ, động Sửng Sốt, hang Trinh Nữ, động Tam Cung… Đó thực sự là những lâu đài của tạo hoá giữa chốn trần gian. Từ xưa, Hạ Long đã được đại thi hào dân tộc Nguyễn Trãi mệnh danh là “kỳ quan đất dựng giữa trời cao”.</span></span></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Dẫu bạn ở đâu trên thế gian này, là người da trắng hay da màu, không kể quốc tịch, ngôn ngữ, tuổi tác… khi đặt chân đến đây cũng đều có chung những cảm xúc, sự rung động của con tim trước một kỳ quan của đá và nước, và khi phải chia tay Hạ Long chắc sẽ để lại những ấn tượng khó quên… Câu chuyện huyền thoại xa xưa về đàn rồng mẹ và đàn rồng con đã phun châu nhả ngọc tạo nên hàng ngàn đảo đá ngăn bước quân thù, hôm nay vẫn đứng đó tạo nên một di sản vô giá cho nhân loại.</span></span></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Bạn đã có dịp du lịch Hạ Long – Di sản có một không hai trên thế giới để được chiêm ngưỡng và khám phá những bí mật còn ẩn chứa nơi này? Sau đây là top 20 địa điểm du lịch ở Vịnh Hạ Long</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>1. Vịnh Bái Tử Long</strong></span></span></h2>

<div style="text-align:center">
<figure class="caption" style="display:inline-block"><img alt="Vinh-Bai-Tu-Long" height="389" src="https://thanhnienmoi.com/upload/images/Vinh-Bai-Tu-Long.jpg" title="Vinh-Bai-Tu-Long" width="600">
<figcaption>Vịnh Bái Tử Long có hàng trăm hòn đảo núi đã vôi và sa phiến thạch</figcaption>
</figure>
</div>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Bái Tử Long là một vịnh của Việt Nam, nằm trong vịnh Bắc Bộ, ở vùng Đông Bắc của Việt Nam. Vịnh Bái Tử Long bao gồm một vùng biển của thành phố Hạ Long, thành phố Cẩm Phả và huyện đảo Vân Đồn. Phía Tây Nam giáp Vịnh Hạ Long, phía Đông giáp biển, phía Tây giáp đất liền với thành phố Cẩm Phả và phía đông bắc giáp huyện đảo Cô Tô. Vịnh Bái Tử Long bao gồm hàng trăm hòn đảo lớn nhỏ và trong đó có nhiều đảo lớn và có dân sinh sống.</span></span></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Theo thống kê Vịnh Bái Tử Long có hàng trăm hòn đảo núi đã vôi và sa phiến thạch với nhiều địa danh nổi tiếng như: Núi Bài Thơ, Hòn Con Cóc, Hòn Tiên Ông, Hòn Con Rùa, Đầm Oan, Hòn Mặt Quỷ, Hòn Con Cò, Động Thiên Cảnh Sơn, Động Tam Cung, Động Mê Cung…. Hệ thống đảo đó có hòn cao – hòn thấp nhấp nhô trên mặt nước với hàng trăm cây số bờ biển tạo khung cảnh thật hùng vỹ nhưng không kém phần lãng mạn. Với địa thế đó thì Vịnh Bái Tử Long có rất nhiều bãi biển đẹp như: Bãi Con Cò, Bãi Biển Vân Đồn, Bãi Quan Lạn, Bãi Minh Châu, Biển Cô Tô… Tất cả những bãi tắm kể trên đều giữ nguyên dáng vẻ hoang sơ và nét tinh khôi của tạo hóa.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>2. Đảo Titop - Vịnh Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="Dao-Titop-Ha-Long" height="424" src="https://thanhnienmoi.com/upload/images/Dao-Titop-Ha-Long.jpg" title="Dao-Titop-Ha-Long" width="640"></p>

<div style="text-align:center">
<figure class="caption" style="display:inline-block"><img alt="Bai-Bien-Titop" height="425" src="https://thanhnienmoi.com/upload/images/Bai-Bien-Titop.jpg" title="Bai-Bien-Titop" width="640">
<figcaption>Dưới chân đảo là một bãi tắm có hình vầng trăng ôm trọn lấy chân đảo, bãi cát tuy nhỏ nhưng rất thoáng đãng và yên tĩnh, bốn mùa nước sạch và trong xanh.</figcaption>
</figure>
</div>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Đảo Titop nằm trong vịnh Hạ Long, thuộc thành phố Hạ Long, tỉnh Quảng Ninh, cách cảng tàu du lịch Bãi Cháy khoảng 7 – 8 km về phía Đông Nam. Đảo Ti Tốp có bãi cát hình vành trăng lưỡi liềm. Cát ở đây bốn mùa được thủy triều rửa sạch trắng tinh. Hồi cuối thế kỷ 19, đảo có tên là Cát Nàng. Ngày 22/11/1962, Chủ tịch Hồ Chí Minh cùng nhà du hành vũ trụ người Liên Xô Giéc Man Ti Tốp lên thăm đảo. Để ghi dấu kỷ niệm chuyến đi đó, Hồ Chủ Tịch đã đặt tên cho đảo là đảo Ti Tốp. Là hòn đảo có bờ dốc đứng, một bờ nghiêng với một bãi cát trắng, phẳng ngay dưới chân.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>3. Hang Sửng Sốt – Vịnh Hạ Long</strong></span></span></h2>

<div style="text-align:center">
<figure class="caption" style="display:inline-block"><img alt="Hang-Sung-Sot-Vinh-Ha-Long" height="426" src="https://thanhnienmoi.com/upload/images/Hang-Sung-Sot-Vinh-Ha-Long.jpg" title="Hang-Sung-Sot-Vinh-Ha-Long" width="640">
<figcaption>Hang Sửng Sốt được chia làm hai ngăn chính, toàn bộ ngăn đầu như một nhà hát lớn rộng thênh thang.</figcaption>
</figure>
</div>

<div style="text-align:center">
<figure class="caption" style="display:inline-block"><img alt="Hang-Sung-Sot-Vinh-Ha-Long-2" height="426" src="https://thanhnienmoi.com/upload/images/Hang-Sung-Sot-Vinh-Ha-Long-2.jpg" title="Hang-Sung-Sot-Vinh-Ha-Long-2" width="640">
<figcaption>ngăn thứ hai của hang Sửng Sốt rộng mênh mông có thể chứa được hàng ngàn người. Đi vào trong cảnh trí còn lắm điều kỳ lạ, như cây đa cổ thụ tán lá sum suê, chú gấu biển, khủng long</figcaption>
</figure>
</div>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Hang Sửng Sốt Hạ Long nằm ở khu vực trung tâm của Di sản Thế giới vịnh Hạ Long, hang Sửng Sốt trong đảo Bồ Hòn. Đây là một hang rộng và đẹp vào bậc nhất của vịnh Hạ Long và đây cũng là nơi tập trung nhiều đảo đá có hình dáng đặc sắc không nơi nào có được. Đường lên hang Sửng Sốt luồn dưới những tán lá rừng, những bậc đá ghép cheo leo, du khách vừa có được cái thú của người leo núi, vừa có cái háo hức như đang đi lên trời.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>4. Động Thiên Cung – Vịnh Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="Dong-Thien-Cung-vinh-ha-long" height="400" src="https://thanhnienmoi.com/upload/images/Dong-Thien-Cung-vinh-ha-long.jpg" title="Dong-Thien-Cung-vinh-ha-long" width="650"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Động Thiên Cung nằm ngay gần hang Đầu Gỗ, cửa hang ở trên độ cao 25m. đây là một hang động vào loại đẹp nhất ở Hạ Long mà con người biết tới. Động Thiên Cung rộng gần 10.000m2 có cấu trúc rất phức tạp, gồm nhiều cấp, nhiều ngăn với các trần và bờ vách rất cao, rộng. Đặc biệt trong Động Thiên Cung, ở đâu đâu ta cũng thấy vô vàn các khối nhũ, măng đá với các hình dáng kì lạ. Vì vậy người ta đã hình dung ra cả một huyền thoại về cuộc tình và sự chia tay của Rồng bố, Rồng mẹ đã diễn ra trên vách đá hoặc nghĩ rằng đây là hình ảnh của các mê cung của Hoàng đế Ba Tư trong chuyện Nghìn lẻ một đêm.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>5. Hòn Trống Mái – Vịnh Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="Hon-Trong-Mai-Tren-Vinh-Ha-Long" height="480" src="https://thanhnienmoi.com/upload/images/Hon-Trong-Mai-Tren-Vinh-Ha-Long.jpg" title="Hon-Trong-Mai-Tren-Vinh-Ha-Long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Hòn Trống Mái là một biểu tượng của du lịch Việt Nam, nằm ở phía tây nam vịnh Hạ Long, cách cảng tàu du lịch Bãi Cháy 5 km, gần hòn Đỉnh Hương. Giữa một vùng biển nước bao la, hai con gà một con trống và một con mái hiện lên ngạo nghễ trên mặt. Lúc bình minh lên từ phía xa chiếu ánh sáng rực rỡ nhuộm đỏ đôi gà khổng lồ bên nhau trên sóng nước mênh mông. Từ mặt nước, chiều cao mỗi con tới hơn chục mét. Tấm thân khổng lồ đứng trên cái chân thót lại, thế chênh vênh tưởng chừng chỉ vài con sóng vỗ mạnh, cả khối đá nặng ấy có thể đổ ập xuống bất cứ lúc nào. Nhưng không, đã hàng triệu năm trôi qua, hai con gà vẫn thuỷ chung đứng đó. Dường như sự hấp dẫn được nhân lên ở đôi chân không cân đối đó. Ðã có rất nhiều tác phẩm nhiếp ảnh, hội họa, thơ ca… về hai con gà này. Hình ảnh của chúng đã trở thành biểu tượng của du lịch Hạ Long và Du lịch Việt Nam.</span></span></p>

<p style="text-align: center;"><span style="line-height:1.8;"><span style="font-size:16px;">“Có những người tha thiết yêu nhau</span></span></p>

<p style="text-align: center;"><span style="line-height:1.8;"><span style="font-size:16px;">Khắc tên mình lên hòn Trống Mái</span></span></p>

<p style="text-align: center;"><span style="line-height:1.8;"><span style="font-size:16px;">Chữ chưa mờ họ đã quên nhau</span></span></p>

<p style="text-align: center;"><span style="line-height:1.8;"><span style="font-size:16px;">Tình đá vẫn ngàn năm cùng trăng dãi…”</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>6. Hang Luồn Vịnh Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="Hang-Luon-Vinh-Ha-long" height="428" src="https://thanhnienmoi.com/upload/images/Hang-Luon-Vinh-Ha-long.jpg" title="Hang-Luon-Vinh-Ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Hang Luồn nằm trên đảo Bồ Hòn, cách Bãi Cháy 14 km về phía nam. Phía trước hang là hòn Con Rùa, bên phải là Cổng Trời. Nơi đây vách đá dựng đứng, bốn mùa nước trong xanh phẳng lặng như một tấm gương soi. Sát mép nước, một chiếc cổng hình cánh cung mở ra dưới chân đảo, đó là hang Luồn.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>7. Đảo Tuần Châu – Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="Dao-Tuan-Chau-vinh-ha-long" height="418" src="https://thanhnienmoi.com/upload/images/Dao-Tuan-Chau-vinh-ha-long.jpg" title="Dao-Tuan-Chau-vinh-ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Khu du lịch đảo Tuần Châu cách trung tâm thành Phố Hạ Long khoảng 2km. Khu du lịch đảo Tuần Châu có diện tích 220ha, được kiến tạo bởi những ngọn đồi thoai thoải. Một con đường trải bê tông dài khoảng 2km nối đảo với đất liền. Tại Tuần Châu có rất nhiều hạng mục công trình đã và đang được xây dựng. Từ ngoài cổng đi vào lần lượt du khách sẽ đi qua một khu đồi với khu biệt thự có hạ tầng cơ sở đạt tiêu chưần quốc tế. Đi tiếp vào trong khu phố ẩm thực với năm nhà hàng và nhà tròn được thiết kế theo kiến trúc cung đình rất đẹp cùng một lúc có thể phục vụ trên 1.000 thực khách với những món ăn Âu, Á và dân tộc do các đầu bếp nổi tiếng trong nước và ngoài nước thực hiện. Các tiếp viên nhà hàng đều mang trang phục truyền thống của Việt Nam. Vào khu trung tâm du khách sẽ choáng ngơp bởi câu lạc bộ biểu diễn cá heo, hải cẩu, sư tử biến được xây dựng rất hiện đại và độc đáo.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>8. Hang Đầu Gỗ – Vịnh Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="Hang-Dau-Go-vinh-ha-long" height="426" src="https://thanhnienmoi.com/upload/images/Hang-Dau-Go-vinh-ha-long.jpg" title="Hang-Dau-Go-vinh-ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Hang Đầu Gỗ rộng khoảng 5000m2, nằm trên độ cao 27m so với mực nước biển cùng độ tuổi tạo thành Động Thiên Cung. Hang Đầu Gỗ: Giữa non nước mây trời vịnh Hạ Long tuyệt mỹ, một cái hang mang tên rất mộc mạc dân dã: Hang Đầu Gỗ. Hang động nằm trên đảo Đầu Gỗ. Từ phía xa nhìn lại, cửa hang có màu xanh lam hình một con sứa biển, qua 90 bậc đá xây ta tới cửa hang. Vòm hang cao khoảng 25m, từ trên cao ấy hàng trăm nhũ đá khổng lồ rủ xuống như một dòng thác kỳ lạ.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>9. Hang Thiên Cảnh Sơn</strong></span></span></h2>

<p style="text-align:center"><img alt="hang-thien-canh-son-vinh-ha-long" height="480" src="https://thanhnienmoi.com/upload/images/hang-thien-canh-son-vinh-ha-long.jpg" title="hang-thien-canh-son-vinh-ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Hang Thiên Cảnh Sơn là một hang động khá hoang sơ nằm trên vịnh Bái Tử Long và vịnh Hạ Long thuộc khu bảo tồn Cống Đỏ. Một điểm thăm quan khá thú vị với du khách Việt Nam cũng như nước ngoài nhờ vẻ đẹp tự nhiên, các thạch nhũ đá vôi nguyên sơ và phong cảnh xung quanh tuyệt đẹp.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>10. Vườn Quốc Gia Bái Tử Long</strong></span></span></h2>

<p style="text-align:center"><img alt="Vuon-Quoc-Gia-Bai-Tu-Long" height="480" src="https://thanhnienmoi.com/upload/images/Vuon-Quoc-Gia-Bai-Tu-Long.jpg" title="Vuon-Quoc-Gia-Bai-Tu-Long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Vườn quốc gia Bái Tử Long nằm trong quần thể vịnh Bái Tử Long, thuộc huyện Vân Đồn, tỉnh Quảng Ninh, cách Hà Nội gần 200km về phía đông.</span></span></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Vườn quốc gia Bái Tử Long bao gồm hệ sinh thái biển với diện tích mặt biển chiếm 2/3 diện tích vườn quốc gia và là nơi lưu giữ nhiều mẫu gen động thực vật quý hiếm nhiều loài được ghi vào sách đỏ.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>11. Đảo Và Bãi Tắm Ngọc Vừng - Vịnh Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="dao-ngoc-vung-vinh-ha-long" height="405" src="https://thanhnienmoi.com/upload/images/dao-ngoc-vung-vinh-ha-long.jpg" title="dao-ngoc-vung-vinh-ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Đảo và Bãi Tắm Ngọc Vừng: Cách cảng tàu du lịch 34km, thuộc huyện Vân Đồn, tỉnh Quảng Ninh. Xung quanh đảo có nhiều bãi biển đẹp, có núi Vạn Xuân cao 182m, có di chỉ khảo cổ thuộc văn hoá Hạ Long rộng 45.000 m2. Là đảo đất, rộng 12 km2, đảo Ngọc Vừng có người ở, có bến cảng cổ Cống Yên thuộc hệ thống thương cảng cổ Vân Đồn từ thế kỷ XI, có di tích thành cổ nhà Mạc và nhà Nguyễn. Hòn đảo xinh đẹp nằm giữa hai đảo đá nhỏ là Hòn Nét và đảo Phượng Hoàng thuộc huyện Vân Đồn. Trên cao nhìn xuống đảo Ngọc đẹp như một tấm khăn choàng nhung, có nhiều đường diềm sáng trắng như đang trôi nổi bồng bềnh trên mặt nước. Phía đông của đảo có bãi cát dài tới hàng cây số, cát trắng tinh khiết trải dài ra tận bến. Từ mỏm Mắt Rồng có thể bao quát hết cả vừng đảo Cô Tô. Trung tâm đảo Ngọc có một cây si um tùm, dưới cây si này năm 1962, Hồ Chủ Tịch đã ra thăm đảo và đứng ở đây nói chuyện cùng nhân dân.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>12. Bãi Tắm Ba Trái Đào – Vịnh Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="Bai-Tam-Ba-Trai-Dao" height="438" src="https://thanhnienmoi.com/upload/images/Bai-Tam-Ba-Trai-Dao.jpg" title="Bai-Tam-Ba-Trai-Dao" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Bãi Tắm Ba Trái Đào là một trong những bãi tắm đẹp nổi tiếng trên Vịnh Hạ Long, bãi tắm Ba Trái Đào nằm cách Cảng tàu du lịch Bãi Cháy khoảng 22km về phía Đông Nam, gần đảo Cát Bà. Đây là một bãi tắm tuyệt đẹp, phong cảnh thiên nhiên hoang sơ, sơn thuỷ hữu tình. Sở dĩ bãi tắm có tên gọi Ba Trái Đào là vì ở đây có ba bãi cát hình cánh cung trắng mịn, ôm trọn lấy những quả núi có hình trái đào…</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>13. Động Kim Quy Vịnh Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="Dong-Kim-Quy-vinh-ha-long" height="480" src="https://thanhnienmoi.com/upload/images/Dong-Kim-Quy-vinh-ha-long.jpg" title="Dong-Kim-Quy-vinh-ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Động Kim Quy: Động Kim Quy nằm trên hòn Dầm Nam, có đỉnh núi cao 187m. Phía trước là hòn Dầm Bắc, phía sau là đảo Soi Sim. Động dài 100m, rộng từ 5 – 10m trải dài theo hướng Bắc Nam. Một con đường nhỏ dẫn lên phía trên cao, nơi đây bốn mùa nước chảy róc rách, những nhũ đá đang được hình thành trắng nõn và mềm mại từ trần động buông rủ xuống. Và kìa, phía ngăn động trong cùng, trận địa cọc Bạch Đằng xuất hiện, có đến hơn 30 chiếc cọc gỗ lim của Trần Hưng Đạo đã dùng cắm xuống dòng sông Bạch Đằng lại hiện hữu ở nơi đây, những thớ gỗ lim nứt nẻ màu nâu xám tưởng chừng như sắp đổ gẫy, nhưng kỳ thực chúng vô cùng vững chắc. Đó là những măng đá đấy, chúng được phân bố khắp nơi, dày đặc chi chít nhưng có hàng lối rõ ràng, chúng nhẵn bóng và cao chừng 30 – 40cm, trông hệt như bãi cọc bằng gỗ thật.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>14. Hang Trống Và Hang Trinh Nữ Vịnh Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="hang-trinh-nu-vinh-ha-long" height="420" src="https://thanhnienmoi.com/upload/images/hang-trinh-nu-vinh-ha-long.jpg" title="hang-trinh-nu-vinh-ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Hang Trống và Hang Trinh Nữ chẳng những có rất nhiều nhũ đá và cảnh đẹp, mà còn hấp dẫn du khách vì một sự tích rất cảm động. Ở một hang có một tảng đá nằm ngang trông như một cô gái nằm xoã tóc vươn tay ra biển vì vậy được gọi là hang Trinh Nữ. Chiếc hang kia có một cột nhũ đá rất cao trông như một chàng trai khổng lồ đứng nhìn ra khơi xa.</span></span></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Hang Trinh Nữ – Hang Trống là hai cái tên đã trở nên rất quen thuộc với các du khách trong và ngoài nước khi lựa chọn Hạ Long là điểm đến. Không chỉ bị thu hút bởi vẻ đẹp tuyệt diệu mà tạo hóa đã ban tặng cho 2 hang này, mà câu chuyện truyền thuyết về 2 hang cũng gây tò mò, hứng thú cho biết bao nhiêu người.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>15. Khu Di Tích Danh Thắng Yên Tử</strong></span></span></h2>

<p style="text-align:center"><img alt="Yen-Tu-Quang-Ninh-vinh-ha-long" height="427" src="https://thanhnienmoi.com/upload/images/Yen-Tu-Quang-Ninh-vinh-ha-long.jpg" title="Yen-Tu-Quang-Ninh-vinh-ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Khu di tích danh thắng Yên Tử là một quần thể chùa, am, tháp, tượng, rừng cây cổ thụ và cảnh vật thiên nhiên nằm rải rác từ dốc Đỏ theo chiều cao dần đến đỉnh núi. Quần thể di tích Yên Tử nằm gần đường 18A, thuộc xã Thượng Yên Công, thành phố Uông Bí, tỉnh Quảng Ninh.</span></span></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Danh thắng Yên Tử là cái nôi của Thiền phái Trúc Lâm từ cuối thế kỷ 13. Nằm trong cánh cung núi trùng điệp của khu Đông Bắc, đỉnh núi Yên Tử có chùa Đồng ở độ cao 1.068m so với mặt nước biển. Từ xưa, núi rừng Yên Tử đã nổi tiếng là nơi ngoạn mục và được liệt vào Danh sơn đất Việt.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>16. Hòn Con Cóc – Vịnh Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="hon-con-coc-vinh-ha-long" height="426" src="https://thanhnienmoi.com/upload/images/hon-con-coc-vinh-ha-long.JPG" title="hon-con-coc-vinh-ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Hòn Con Cóc là một trong những hòn đảo trên vịnh Hạ Long, được ví như những tác phẩm tuyệt đẹp mà tạo hóa đã ban cho thiên nhiên và con người nơi đây, góp phần tô điểm thêm vẻ đẹp trữ tình và đề cao giá trị nhân văn sâu sắc mà Hạ Long đang có</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>17. Núi Bài Thơ – Vịnh Hạ Long</strong></span></span></h2>

<div style="text-align:center">
<figure class="caption" style="display:inline-block"><img alt="Nui-Bai-Tho-vinh-Ha-Long" height="452" src="https://thanhnienmoi.com/upload/images/Nui-Bai-Tho-vinh-Ha-Long.jpg" title="Nui-Bai-Tho-vinh-Ha-Long" width="640">
<figcaption>Quản cảnh Vịnh Hạ Long nhìn từ đỉnh núi Bài Thơ</figcaption>
</figure>
</div>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Núi Bài Thơ Hạ Long ở trung tâm Thành phố Hạ Long, tỉnh Quảng Ninh. Đây là một di tích có giá trị văn hoá lich sử quan trọng. Nơi đây còn lưu giữ nhiều bài thơ khắc trên đá của một số vị vua đi kinh lý, cảm hứng trước vẻ đẹp thần tiên cửa Vịnh Hạ Long đã làm thơ. Một ngọn núi đá vôi cao 106m nằm ở trung tâm thành phố Hạ Long, kề ngay bên vịnh Hạ Long, nhìn xa trông như một toà lâu đài khổng lồ với ba ngọn tháp nhấp nhô trên những bức tường thành kiên cố. Đó là núi Bài Thơ. Xưa kia núi còn có tên là núi Truyền Đăng. Trước kia núi có tên gọi là núi Truyền Đăng (Rọi Đèn). Ngọn núi này đã làm xúc cảm bao tâm hồn thi sĩ.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>18. Làng Chài Vung Viêng – Hạ Long</strong></span></span></h2>

<p style="text-align:center"><img alt="Lang-Chai-Vung-Vieng-vinh-ha-long" height="427" src="https://thanhnienmoi.com/upload/images/Lang-Chai-Vung-Vieng-vinh-ha-long.jpg" title="Lang-Chai-Vung-Vieng-vinh-ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Làng chài Vung Viêng thuộc Vịnh Bái Tử Long nằm chếch phía Đông – Bắc của Việt Nam gần sát với các mỏ than Cửa Ông – Hòn Gai – Cẩm Phả và Thương cảng Vân Đồn xưa, đi ngược lên nữa là cửa khẩu Móng Cái, bãi biển Trà Cổ. Làng Chài Vung Viêng cách đất niền khoảng 25km. Đây là nơi sinh sống của hàng nghìn dân chài quanh năm tất bật với mưu sinh mà vẫn vui vẻ, ấm áp lạ thường. Điều đặc biệt là khi đến đây, du khách thường được trải nghiệm và khám phá cuộc sống của những ngư dân nơi đây và đó cũng là một trong những đặc điểm khiến cho Làng Chài Vung Viêng luôn là một trong những điểm khám phá thú vị của những du khách đến thăm quan Vịnh Hạ Long – Vịnh Bái Tử Long.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong>19. Bãi Tắm Minh Châu</strong></span></span></h2>

<p style="text-align:center"><img alt="Bai-Tam-Minh-Chau-vinh-ha-long" height="426" src="https://thanhnienmoi.com/upload/images/Bai-Tam-Minh-Chau-vinh-ha-long.jpg" title="Bai-Tam-Minh-Chau-vinh-ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Bãi tắm Minh Châu là một bãi biển riêng đẹp nổi tiếng, chỉ cách bãi tắm Quan Lạn khoảng 15 km. Bãi tắm thoải dài, cát ở đây trắng mịn, làn nước trong xanh, đi không dính chân và được miêu tả “Trắng như tuyết, mượt như nhung”.</span></span></p>

<h2 style="text-align: justify;"><span style="line-height:1.8;"><span style="font-size:16px;"><strong style="line-height: 1.6;">20. Khu Vui Chơi Giải Trí Sun World Hạ Long Park</strong></span></span></h2>

<p style="text-align:center"><img alt="khu-vui-choi-giai-tri-sun-world-ha-long" height="427" src="https://thanhnienmoi.com/upload/images/khu-vui-choi-giai-tri-sun-world-ha-long.jpg" title="khu-vui-choi-giai-tri-sun-world-ha-long" width="640"></p>

<p style="text-align:justify;"><span style="line-height:1.8;"><span style="font-size:16px;">Đây có thể nói là một quần thể vui chơi giải trí rộng lớn bậc nhất tại Hạ Long rộng trên diện tích 214ha vừa mới đi vào hoạt động. Quần thể Hạ Long Park là tổ hợp công viên vui chơi mang đẳng cấp quốc tế bao gồm 2 khu vực chính: Tổ hợp vui chơi ven biển và tổ hợp vui chơi trên đỉnh Ba Đèo – được kết nối với nhau bởi hệ thống cáp treo độc đáo. Đến với Hạ Long Park du khách sẽ được trải nghiệm với 5 điểm chính là Khu Công Viên Rồng, Khu Công Viên Lốc Xoáy, Khu Vui Chơi Ba Đèo, Bãi Biển Sun World và Khu Ẩm Thực &amp; Mua Sắm.</span></span></p>




    </div><!--end article-content-->



</div>
