
@{
    ViewData["Title"] = "Post3";
    Layout = "~/Views/Shared/_LayoutPost.cshtml";
}

<h1>TIN TỨC</h1>
<div class="row">
    <div class="col-md-10 mx-auto">
        <h1>KINH NGHIỆM CHO NGƯỜI LẦN ĐẦU ĐI MÁY BAY</h1><div style="color: rgb(153, 153, 153);">Ngày 12/03/2024</div><div style="margin: 20px 0px 0px;">
            <p>&nbsp;</p>
            <h1><span style="font-weight: 400;">ĐẶT VÉ MÁY BAY</span></h1>
            <p>&nbsp;</p>
            <p><span style="font-weight: 400;">Đây chắc chắn phải là việc làm đầu tiên khi lên kế hoạch bay. Lưu ý rằng, mua vé càng sớm thì bạn càng có cơ hội được nhận mức giá ưu đãi tốt, chỉ cần đặt trước 3-6 tháng là bạn đã có vé bay rẻ hơn đặt lúc bay rồi.&nbsp;</span></p>
            <p><span style="font-weight: 400;">Nếu bạn muốn mua vé rẻ hơn nữa thì bạn có thể săn các vé 0 đồng, hoặc có thể theo dõi chuỗi bài tổng hợp vé rẻ, vé khuyến mãi vào tối Thứ 3 hàng tuần, trên fanpage của SkyStream nhé.</span></p>
            <p>&nbsp;</p>
            <h1><span style="font-weight: 400;">GIẤY TỜ LÊN MÁY BAY</span></h1>
            <p>&nbsp;</p>
            <p><span style="font-weight: 400;">Bạn cần có chứng minh thư hoặc thẻ căn cước công dân với người trên 15 tuổi, giấy khai sinh đối với trẻ dưới 15 tuổi với các chuyến bay trong nước và hộ chiếu đối với chuyến bay quốc tế.</span></p>
            <p><span style="font-weight: 400;">Khi bạn bay quốc tế, đừng quên mang theo visa nhé (riêng đến các nước Đông Nam Á không cần visa).</span></p>
            <p>&nbsp;</p>
            <h1><span style="font-weight: 400;">HÀNH LÝ&nbsp;</span></h1>
            <p>&nbsp;</p>
            <p><span style="font-weight: 400;">Các hãng sẽ phân ra 2 loại, là hành lý xách tay và hành lý ký gửi. Hành lý xách tay là hành lý bạn mang theo người, để trên khoang bạn ngồi, còn hành lý ký gửi sẽ được đưa về khoang hành lý và gửi tại quầy thủ tục. Bạn hãy lưu ý số cân nặng và kích thước của từng hãng, loại ghế bạn chọn để không bị mang quá cân nhé. Nếu bạn lỡ mang quá cân, các hãng sẽ thu thêm phí</span></p>
            <p>&nbsp;</p>
            <h1><span style="font-weight: 400;">ĐẾN TRƯỚC BAO LÂU?</span></h1>
            <p>&nbsp;</p>
            <p><span style="font-weight: 400;">Để checkin và làm các thủ tục khác, đối với các chuyến bay trong nước, bạn cần đến trước tối thiểu 2 tiếng so với giờ bay. Với các chuyến bay quốc tế là trước 3 tiếng.&nbsp;</span></p>
            <p><span style="font-weight: 400;">Tuy nhiên, bạn có thể checkin online để có thể tiết kiệm thời gian ở quầy thủ tục. Có nhiều lưu ý khi checkin online, nhưng nếu bạn đặt vé tại SkyStream, chúng tôi sẽ checkin online miễn phí cho bạn.</span></p>
            <p>&nbsp;</p>
            <p><span style="font-weight: 400;">~ SkyStream 𝑥𝑖𝑛 𝑐ℎ𝑢́𝑐 𝑞𝑢𝑦́ 𝑘ℎ𝑎́𝑐ℎ 𝑐𝑜́ 𝑚𝑜̣̂𝑡 𝑐ℎ𝑢𝑦𝑒̂́𝑛 𝑏𝑎𝑦 𝑡𝑜̂́𝑡 𝑙𝑎̀𝑛ℎ ~</span></p>
            <p><span style="font-weight: 400;">—</span></p>
            <p><span style="font-weight: 400;">ĐẶT VÉ NGAY&nbsp;</span></p>
            <p><span style="font-weight: 400;">✈️Website: https://www.SkyStream.vn</span></p>
            <p><span style="font-weight: 400;">📲Zalo: https://zalo.me/SkyStreamvn&nbsp;</span></p>
            <p><span style="font-weight: 400;">☎️Hotline: 1900 1250&nbsp;</span></p>
            <p><span style="font-weight: 400;">Hệ thống CSKH trực tất cả các kênh 24/24 tất cả các ngày trong tuần (bao gồm ngày lễ, tết)</span></p>
            <p><span style="font-weight: 400;">—</span></p>
            <p><span style="font-weight: 400;">📍Các cơ sở của SkyStream:</span></p>
            <p><span style="font-weight: 400;">CS1: Số 12 Ngô Gia Tự, Đức Giang, Long Biên, Hà Nội.</span></p>
            <p><span style="font-weight: 400;">CS2: Tầng 4 tòa nhà Hòa Bình Green City, 505 Minh Khai, Quận Hai Bà Trưng, Hà Nội.</span></p>
            <p><span style="font-weight: 400;">CS3: Số 3/2 Đường D1, Phường 25, Quận Bình Thạnh, TP Hồ Chí Minh.</span></p>
            <p><br><br><br><br><br></p>
        </div>
    </div>
</div>

