
@{
    ViewData["Title"] = "Post2";
    Layout = "~/Views/Shared/_LayoutPost.cshtml";
}

<h1>TIN TỨC</h1>
<div class="_container" style="padding: 25px 15px;">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1>SkyStream TUYỂN ĐẠI LÝ &amp; CTV BÁN VÉ MÁY BAY</h1><div style="color: rgb(153, 153, 153);">Ngày 17/3/2024</div><div style="margin: 20px 0px 0px;">
                <p>🎯 Hình thức hợp tác linh hoạt: Ký quỹ, Top-up, Đặt cọc - Công nợ,…<br>🎯 SkyStream - đại lý chính thức hàng đầu của nhiều hãng hàng không lớn trong &amp; ngoài nước. Chuyên cung cấp những hành trình đặc biệt mà không phải đại lý nào cũng có.<br>🎯 Hỗ trợ đối tác 24/24 tất cả các ngày trong tuần, với đội ngũ 20 năm kinh nghiệm giải quyết vô vàn hành trình phức tạp và sự cố vé khó nhằn, chúng tôi cam kết sẽ giúp đối tác bán được hành trình tối ưu nhất về giá và trải nghiệm cho khách hàng.</p>
                <p>&nbsp;</p>
                <p>Ngoài ra, SkyStream còn đem đến nhiều ưu đãi hấp dẫn khác cho quý đối tác:<br>✅ Chiết khấu hoa hồng cao<br>✅ Không áp doanh số đại lý<br>✅ Cấp tài khoản check giá Net từ hãng<br>✅ Đặc biệt tích hợp tài khoản theo dõi quản lý order vé, doanh số, khách hàng tổng quan, chi tiết với nhiều tính năng vượt trội<br>✅ Chủ động đặt và xuất vé từ hãng<br>✅ Miễn phí xuất vé<br>✅ Nhân viên hỗ trợ nhiệt tình, chu đáo,...<br>✅ Được đào tạo nghiệp vụ vé máy bay.<br>✅ Hưởng các chính sách ưu đãi đặc biệt từ hãng<br>✅ Có chính giá đặc biệt cho Sinh viên, Thuyền viên, Lao động<br>====================</p>
                <p><br>✈ SkyStream - Đại lý vé máy bay cấp 1 của hơn 500 hãng hàng không trong nước và quốc tế. SkyStream luôn nỗ lực để mang lại cho đại lý, cộng tác viên và khách hàng bay những dịch vụ tốt nhất.</p>
                <p>Để biết thêm thông tin chi tiết, quý đại lý và CTV vui lòng gọi vào số 0353729821 hoặc đến trực tiếp tại các cơ sở sau:<br><br>Cơ sở Hà Nội:<br>📍 Địa chỉ 1: Tầng 4-A2.01-1 Tòa nhà Hòa Bình Green City , 505 Minh Khai,Phường Vĩnh Tuy, Quận Hai Bà Trưng, Hà Nội.<br>📍 Địa chỉ 2: Số 12 Ngô Gia Tự, Đức Giang, Long Biên, Hà Nội.<br>Cơ sở Hồ Chí Minh:<br>📍 Địa chỉ: Số 3/2 Đường D1, Phường 25, Quận Bình Thạnh, TP Hồ Chí Minh.<br><br></p>
            </div>
        </div>
    </div>
</div>

