
@{
    ViewData["Title"] = "Post4";
    Layout = "~/Views/Shared/_LayoutPost.cshtml";
}

<h1>Tin Tức</h1>
<div class="_container" style="padding: 25px 15px;">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1>HAPPY NEW YEAR 2024!</h1><div style="color: rgb(153, 153, 153);">Ngày 10/2/2024</div><div style="margin: 20px 0px 0px;">
                <p>&nbsp;</p>
                <p><img style="display: block; margin-left: auto; margin-right: auto;" src="~/contentWeb/img/img1.jpg" alt="" width="900" height="400"></p>
                <p><br><br>Vậy là năm Quý Mão đã đi qua, chúng ta lại bên nhau chào đón khoảnh khắc chuyển giao đặc biệt giữa năm cũ và năm mới. 
                    Cảm ơn các bạn vì đã đồng hành cùng SkyStream trong suốt một năm dài vừa qua.<br><br>Tới với năm Giáp Thìn sắp sửa tới gần, xin được gửi lời chúc mừng năm mới bình an, suôn sẻ và thịnh vượng tới toàn thể quý khách hàng, những người đã yêu quý và chọn SkyStream để gửi gắm niềm tin.<br><br>Hy vọng SkyStream, với những dịch vụ bán vé máy bay chuyên nghiệp - tận tâm sẽ luôn là điểm đến thân thuộc của mọi người trên mọi hành trình!<br><br><span class="x3nfvp2 x1j61x8r x1fcty0u xdj266r xhhsvwb xat24cr xgzva0m xxymvpz xlup9mm x1kky2od"><img class="xz74otr" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t2b/2/16/1f389.png" alt="🎉" width="16" height="16"></span>&nbsp;Một lần nữa Chúc mừng năm mới Giáp Thìn!</p>
            </div>
        </div>
    </div>
</div>

